*.inter {
  font-family: "Intr", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
  padding-top: 16px auto;
  padding-left: 120px;
  
  
}

body {
    background-color: #c4b7b7;
}