*.inter {
  font-family: "Intr", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
  padding-top: 16px auto;
  padding-left: 120px;

  
}

body {
    background-color: #c4b7b7;
}
.logo {
    max-width: 139px;
    /* margin-left: 120px; */
}
.nav-links a {
    margin: 0 34px;
    margin-left: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn {
    padding: 12.5px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;   

}
.btn:hover{
    background-color: #73cd91;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
}
.btn-outline {
    border: 1px solid #fff;
    color: #FFFFFF;
}

.banner {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 34px;
}

.banner-content {
    /* max-width: 750px; */
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #FFFFFF;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}
