*.inter {
  font-family: "Intr", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
  padding-top: 16px auto;
  padding-left: 120px;

  
}

body {
    background-color: #c4b7b7;
}
.logo {
    max-width: 139px;
    /* margin-left: 120px; */
}
.nav-links a {
    margin: 0 34px;
    margin-left: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn {
    padding: 12.5px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;   

}
.btn:hover{
    background-color: #73cd91;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
}
.btn-outline {
    border: 1px solid #fff;
    color: #FFFFFF;
}

.banner {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 34px;
}

.banner-content {
    /* max-width: 750px; */
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #FFFFFF;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}
.banner h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner h1 span {
    color: #30B868;
}

.banner p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.note-section {
    padding: 80px 60px;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: auto;
}

.note-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.subtitle {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.card-wrapper {
    display: flex;
    gap: 30px;
}

.card {
    background: #FFFFFF;
    color: #001931;
    padding: 40px 25px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #e5e7eb;
}

.icon {
    width: 60px;
    height: 60px;
    background: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 25px;
}

.card h3 {
    margin-top: 16px;
    font-size: 24px;
}
