*.inter {
  font-family: "Intr", sans-serif;
  font-optical-sizing: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
  padding-top: 16px auto;
  padding-left: 120px;

  
}

body {
    background-color: #c4b7b7;
}
.logo {
    max-width: 139px;
    /* margin-left: 120px; */
}
.nav-links a {
    margin: 0 34px;
    margin-left: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn {
    padding: 12.5px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;   

}
.btn:hover{
    background-color: #73cd91;
}

.btn-green {
    background: #469165;
    color: #FFFFFF;
}
.btn-outline {
    border: 1px solid #fff;
    color: #FFFFFF;
}

.banner {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 34px;
}

.banner-content {
    /* max-width: 750px; */
    padding: 20px;
}

.badge {
    display: inline-block;
    background: #FFFFFF;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}
.banner h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.banner h1 span {
    color: #30B868;
}

.banner p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.note-section {
    padding: 80px 60px;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: auto;
}

.note-section h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.subtitle {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.card-wrapper {
    display: flex;
    gap: 30px;
}

.card {
    background: #FFFFFF;
    color: #001931;
    padding: 40px 25px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #e5e7eb;
}

.icon {
    width: 60px;
    height: 60px;
    background: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 25px;
}

.card h3 {
    margin-top: 16px;
    font-size: 24px;
}
.card p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}




.solution {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 20px;
}

.solution-left img {
  width: 100%;
  max-width: 600px;
}



.label {
  color: #469165;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.solution-right h1 {
  font-size: 48px;
  color: #001931;
}

.solution-right p {
  margin-top: 16px;
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
}

.solution-right ul {
  list-style: none;
  color: #001931;
  font-size: 16px;
  line-height: 20px;
}

.solution-right li {
 color: #001931;
  padding-left: 0px;
  margin-bottom: 14px;
  font-size: 16px;
}

.solution-right li::before {
  position: absolute;
  left: 0;
  top: 0;
  color: #2f9e44;
  font-weight: bold;
}



.early-access {
    max-height: 384px;
    background-color: #F7F6F2;
    text-align: center;
    border-radius: 12px;
    margin: 120px;
    padding: 120px;
}
.early-access h1 {
    font-size: 40px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-access .prg {
    max-width: 1280px;
    height: 48px;
    font-size: 16px;
    color: #637382;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 24px;
    align-items: center;

}




.early-btn {
    width: 194px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 16px 12px;
    font-size: 16px;
    border-radius: 4px;
   justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;   
}
.footer-text {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 80px;
    align-items: center;
    color: #627382;
}
.early-btn:hover {
    background-color: #73cd91;
}


.early-btn:hover {
    background-color: #73cd91;
}

footer{
    margin-top: 120px;
    background-color: #001931;
    width: 100%;
}
.footer-text {
    font-size: 16px;
    color: #627382;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 80px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px 120px ;
}

.social h4{
    font-size: 20px;
    color: #FFFFFF;
}

.icon-list{
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}
.icon-list .socialmedia{
    text-decoration: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
} 
    
.socialmedia  i{
    color: #000000;
}

hr {
border: none;
border-top: 1px solid #E5E7EB;
margin-bottom: 15px;
width: 1360px;
margin: 0 auto;
}

.cr {
color: #FAFAFA;
text-align: center;
font-size: 16px;
line-height: 24px;
padding-top: 30px;
padding-bottom: 30px;
}
